<a href="https://colab.research.google.com/github/vvicky30/python/blob/master/Competitvie_Tricks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def Sum1(n):  #with time complexity of o(1)
  return n*(n+1)//2


def Sum2(n): #with time complexity of o(n)
  sum=0
  for i in range(1,n+1):
    sum=sum+i
  return sum

#taking no. so that upto that number(n) we sum up all integers within it
t=int(input())#test cases numbers
while t: # while its +ve not zero
  n=int(input())
  print("sum of number upto t from sum1 {}:".format(Sum1(n))) #make output earleir than below once
  print("sum of number up to t from sum2 {}:".format(Sum2(n)))#make overdue ouput   due to 0(n)time complexity
  t=t-1

3
10
sum of number upto t from sum1 55:
sum of number up to t from sum2 55:
50
sum of number upto t from sum1 1275:
sum of number up to t from sum2 1275:
99999999
sum of number upto t from sum1 4999999950000000:
sum of number up to t from sum2 4999999950000000: