<a href="https://colab.research.google.com/github/vvicky30/python/blob/master/EX4_1_List_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
"""
Python List
List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.


Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets [ ].
"""
insects=['ant', 'cockroach','bee']
insects
insects.append('harvinderr') #append(x)	
                             #Adds an item (x) to the end of the list. This is equivalent to a[len(a):] = [x].
insects
print(insects)
insects.extend(['worm','flea']) #extend(iterable)	
                                 #Extends the list by appending all the items from the iterable. This allows you to join two lists together. This method is equivalent to a[len(a):] = iterable.
print(insects)
#own method of extending any list:-
insects[len(insects):]=['blackmamaba','honeybee']
print(insects)

#insert(i, x)	
#Inserts an item at a given position. The first argument is the index of the element before which to insert. For example, a.insert(0, x) inserts at the front of the list.
insects.insert(2,'bee_inserted')
print(insects)

#remove(x)	
#Removes the first item from the list that has a value of x. Returns an error if there is no such item.
insects.remove('harvinderr')
print(insects)

#pop([i])	
#Removes the item at the given position in the list, and returns it. If no index is specified, pop() removes and returns the last item in the list.
insects.pop(1) #removing 'cackroach' here
print(insects)
insects.pop()#bydefault it removes last element of the list
print(insects)

#clear()	
#Removes all items from the list. Equivalent to del a[:].
insects.clear()
print(insects)
#clear or delete it manually as following:-
insect1=['honeybee','villow','flea','bee','ant']
print(insect1)
del(insect1[0:5])
print(insect1)#after deletion manually

#index(x[, start[, end]])	
#Returns the position of the first list item that has a value of x. Raises a ValueError if there is no such item.
a = ["bee", "ant", "moth", "ant"]
print(a.index('ant'))
print(a.index('ant',2))

#count(x)	
#Returns the number of times x appears in the list.
a.extend(['ant','ant','moth'])
print(a)
print(a.count('ant'))
print(a.count('moth'))

"""
sort(key=None, reverse=False)	
Sorts the items of the list in place. The arguments can be used to customize the operation.

key
Specifies a function of one argument that is used to extract a comparison key from each list element. The default value is None (compares the elements directly).
reverse
Boolean value. If set to True, then the list elements are sorted as if each comparison were reversed.
"""
b = [3,6,5,2,4,1]
b.sort()
print(b)
b = [3,6,5,2,4,1]
b.sort(reverse=True)
print(b)
a.sort()#on 'a'
print(a)
#if
a = ["bee", "wasp", "butterfly"]
a.sort(key=len)
print(a)
#using reverse=T
a = ["bee", "wasp", "butterfly"]
a.sort(key=len, reverse=True)
print(a)

#reverse()	
#Reverses the elements of the list in place.
a = ["bee", "wasp", "moth", "ant"]
a.reverse()
print(a)

"""
copy()	
Returns a shallow copy of the list. Equivalent to a[:].

Use the copy() method when you need to update the copy without affecting the original list. If you don't use this method 
(eg, if you do something like list2 = list1), then any updates you do to list2 will also affect list1.

The example at the side demonstrates this.
"""

# WITHOUT copy()
a = ["bee", "wasp", "moth"]
b = a
b.append("ant")
print(a)
print(b)

#with copy()
a = ["bee", "wasp", "moth"]
b = a.copy()
b.append("ant")
print(a)
print(b)
"""
len(s)	
Returns the number of items in the list.

The len() function can be used on any sequence (such as a string, bytes, tuple, list, or range) or collection (such as a dictionary, set, or frozen set).
"""
a = ["bee", "moth", "ant"]
print(len(a))

"""
list([iterable])	
The list() constructor returns a mutable sequence list of elements. The iterable argument is optional. You can provide any sequence or collection (such as a string, list, tuple, set, dictionary, etc). If no argument is supplied, an empty list is returned.

Strictly speaking, list([iterable]) is actually a mutable sequence type.
"""

print(list())
print(list([]))
print(list(["bee", "moth", "ant"]))
print(list([["bee", "moth"], ["ant"]]))
a= "vedant"
print(list(a))

a = {"for", "the", "set"}
print(list(a))
a=("for","the","tuple")
print(list(a))

#max
a = ["bee", "moth", "ant"]
print(max(a))

a = ["bee", "moth", "wasp"]
print(max(a))

a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4]
print(max(a, b))

#min
a = ["bee", "moth", "wasp"]
print(min(a))

a = ["bee", "moth", "ant"]
print(min(a))

a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4]
print(min(a, b))

"""
range(stop)

or

range(start, stop[, step])

Represents an immutable sequence of numbers and is commonly used for looping a specific number of times in for loops.

It can be used along with list() to return a list of items between a given range.

Strictly speaking, range() is actually a mutable sequence type.

"""
print(list(range(10)))
print(list(range(1,11)))
print(list(range(51,56)))
print(list(range(1,11,2)))

['ant', 'cockroach', 'bee', 'harvinderr']
['ant', 'cockroach', 'bee', 'harvinderr', 'worm', 'flea']
['ant', 'cockroach', 'bee', 'harvinderr', 'worm', 'flea', 'blackmamaba', 'honeybee']
['ant', 'cockroach', 'bee_inserted', 'bee', 'harvinderr', 'worm', 'flea', 'blackmamaba', 'honeybee']
['ant', 'cockroach', 'bee_inserted', 'bee', 'worm', 'flea', 'blackmamaba', 'honeybee']
['ant', 'bee_inserted', 'bee', 'worm', 'flea', 'blackmamaba', 'honeybee']
['ant', 'bee_inserted', 'bee', 'worm', 'flea', 'blackmamaba']
[]
['honeybee', 'villow', 'flea', 'bee', 'ant']
[]
1
3
['bee', 'ant', 'moth', 'ant', 'ant', 'ant', 'moth']
4
2
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
['ant', 'ant', 'ant', 'ant', 'bee', 'moth', 'moth']
['bee', 'wasp', 'butterfly']
['butterfly', 'wasp', 'bee']
['ant', 'moth', 'wasp', 'bee']
['bee', 'wasp', 'moth', 'ant']
['bee', 'wasp', 'moth', 'ant']
['bee', 'wasp', 'moth']
['bee', 'wasp', 'moth', 'ant']
3
[]
[]
['bee', 'moth', 'ant']
[['bee', 'moth'], ['ant']]
['v', 'e', 'd', 'a', 'n', 't']
['for', 'the', 'set']
['for', 'the', 'tuple']
moth
wasp
[1, 2, 3, 4, 5]
bee
ant
[1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[51, 52, 53, 54, 55]
[1, 3, 5, 7, 9]

In [6]:
#creating tuples:-
"""
A tuple is created by placing all the items (elements) inside parentheses (), separated by commas. The parentheses are optional, however, it is a good practice to use them.
A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.).
"""
# Empty tuple
ved_tuple = ()
print(ved_tuple)  # Output: ()

# Tuple having integers
dre_tuple = (1,2,3,4,5,8,9)
print(dre_tuple)  # Output: (1,2,3,4,5,8,9) 

# tuple with mixed datatypes
Mixed_tuple = (1,"Hello",3.4,"vedant")
print(Mixed_tuple)  # Output: (1, "Hello", 3.4,"vedant")  

# nested tuple
Nested_tuple = ("mouse", (8, 4, 6), (1, 2, 3))

# Output: ("mouse", (8, 4, 6), (1, 2, 3)) 
print(Nested_tuple)

#tuple with nested list
Nested_List_Tuple=("List",[1,2,3,4],"Tuple",(5,6,7,8,9))
print(Nested_List_Tuple)

()
(1, 2, 3, 4, 5, 8, 9)
(1, 'Hello', 3.4, 'vedant')
('mouse', (8, 4, 6), (1, 2, 3))
('List', [1, 2, 3, 4], 'Tuple', (5, 6, 7, 8, 9))

In [14]:
# A tuple can also be created without using parentheses. This is known as tuple packing.
without_parentheses="vedant",365,"@","gmail.com"
print(without_parentheses)
#tuple unpacking as follows:-
a,b,c,d=without_parentheses
print(a)
print(b)
print(c)
print(d)
#if we add-on another unpacking variable more than the elements in tuple then we get ERROR:not enough values to unpack

('vedant', 365, '@', 'gmail.com')
vedant
365
@
gmail.com

In [15]:
#Creating a tuple with one element is a bit tricky.
#Having one element within parentheses is not enough. We will need a trailing comma to indicate that it is, in fact, a tuple.
unit_tuple = ("vedant")
print(type(unit_tuple))  # <class 'str'>

# Creating a tuple having one element
unit_tuple = ("vedant",)  
print(type(unit_tuple))  # <class 'tuple'> 

# Parentheses is optional
unit_tuple = "hello",
print(type(unit_tuple))  # <class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [16]:
#Access Tuple Elements
#There are various ways in which we can access the elements of a tuple:-
"""
1. Indexing:-
We can use the index operator [] to access an item in a tuple where the index starts from 0.
So, a tuple having 6 elements will have indices from 0 to 5. Trying to access an element outside of tuple (for example, 6, 7,...) will raise an IndexError.
The index must be an integer; so we cannot use float or other types. This will result in TypeError.
Likewise, nested tuples are accessed using nested indexing, as shown in the example below.
"""
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])   # 'p' 
print(my_tuple[5])   # 't'

# IndexError: list index out of range
# print(my_tuple[6])

# Index must be an integer
# TypeError: list indices must be integers, not float
# my_tuple[2.0]

# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[0][3])       # 's' of the "mouse"
print(n_tuple[1][1])       # 4  of the [8,4,6]
print(n_tuple[2][1])       # 2 of (1,2,3)

p
t
s
4
2

In [17]:
""" 2. Negative Indexing

Python allows negative indexing for its sequences.

The index of -1 refers to the last item, -2 to the second last item and so on.
"""
my_tuple = ('p','e','r','m','i','t')

# Output: 't'
print(my_tuple[-1])

# Output: 'p'
print(my_tuple[-6])

t
p

In [18]:
"""3. Slicing
We can access a range of items in a tuple by using the slicing operator - colon ":" or in R-language its called subsetting-method with the help of vectors like 'NUM:NUM'
"""
my_tuple = ('p','r','o','g','r','a','m','i','z')

# elements 2nd to 4th
# Output: ('r', 'o', 'g')
print(my_tuple[1:4])

# elements beginning to 2nd
# Output: ('p', 'r')
print(my_tuple[:-7])

# elements 8th to end
# Output: ('i', 'z')
print(my_tuple[7:])

# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [19]:
"""4.Changing a Tuple
Unlike lists, tuples are immutable.

This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

We can also assign a tuple to different values (reassignment)."""

my_tuple = (4, 2, 3, [6, 5])


# TypeError: 'tuple' object does not support item assignment
# my_tuple[1] = 9                          here we trying to replace 2 with 9

# However, item of mutable element can be changed
my_tuple[3][0] = 9    # Output: (4, 2, 3, [9, 5])
print(my_tuple)       #here we suceesfully replace 6 with 9

# Tuples can be reassigned
my_tuple = ('v','e','d','a','n','t','d','r','e')

print(my_tuple) #now its prints newly assigned one as usual

(4, 2, 3, [9, 5])
('v', 'e', 'd', 'a', 'n', 't', 'd', 'r', 'e')

In [22]:
"""
We can use + operator to combine two tuples. This is also called concatenation.
We can also repeat the elements in a tuple for a given number of times using the * operator.
Both + and * operations result in a new tuple.
"""# Concatenation
# Output: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))

# Repeat/replicate
# Output: ('vedant', 'vedant', 'vedant')
print(("vedant",) * 3)

(1, 2, 3, 4, 5, 6)
('vedant', 'vedant', 'vedant')

In [25]:
"""Deleting a Tuple
As discussed above, we cannot change the elements in a tuple. That also means we cannot delete or remove items from a tuple.

But deleting a tuple entirely is possible using the keyword del.
"""
my_tuple = ('v','d','a','n','t','d','r','e','e')

# can't delete items
# TypeError: 'tuple' object doesn't support item deletion
# del my_tuplele[3] #trying to delete 'n'element of my_tuple 

# Can delete an entire tuple
del my_tuple

# NameError: name 'my_tuple' is not defined
print(my_tuple)

NameError: ignored

In [28]:
#Tuple Methods:-
"""Methods that add items or remove items are not available with tuple. Only the following two methods are available:=
Method:	  Description:
count(x)	Returns the number of items x
index(x)	Returns the index of the first item that is equal to x
"""
my_tuple = ('a','p','p','l','e',)

print(my_tuple.count('p'))  # Output: 2
print(my_tuple.index('l'))  # Output: 3

2
3

In [31]:
"""
Tuple Membership Test
We can test if an item exists in a tuple or not, using the keyword in/not in.
"""
my_tuple = ('a','p','p','l','e',)

# In operation
# Output: True
print('a' in my_tuple)

# Output: False
print('b' in my_tuple)

# Not in operation
# Output: True
print('g' not in my_tuple)

True
False
True

In [33]:
"""Iterating Through a Tuple
Using a for loop we can iterate through each item in a tuple."""
name_tuple=("vedant","harvinder","simranjeet","saurav","gaurav","zahid","abhijeet","shubhum")
for names in name_tuple:
  print("Hello , nice to meet you",names)

Hello , nice to meet you vedant
Hello , nice to meet you harvinder
Hello , nice to meet you simranjeet
Hello , nice to meet you saurav
Hello , nice to meet you gaurav
Hello , nice to meet you zahid
Hello , nice to meet you abhijeet
Hello , nice to meet you shubhum