<a href="https://colab.research.google.com/github/vvicky30/python/blob/master/variable_box(practice).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import antigravity

In [0]:
import webbrowser
import hashlib

webbrowser.open("https://xkcd.com/353/")

def geohash(latitude, longitude, datedow):
    '''Compute geohash() using the Munroe algorithm.
    >>> geohash(37.421542, -122.085589, b'2005-05-26-10458.68')
    37.857713 -122.544543
    '''
    # https://xkcd.com/426/
    h = hashlib.md5(datedow).hexdigest()
    p, q = [('%f' % float.fromhex('0.' + x)) for x in (h[:16], h[16:32])]
    print('%d%s %d%s' % (latitude, p[1:], longitude, q[1:]))

In [0]:
a=15
a<<3

120

In [1]:
a=5
if(a==4):
  peint("1")
elif(a==5):
  print("2")
else:
  print("3")

2

In [9]:
#write a program to print first 10 natual number
sum=0
for i in range(1,11,1):
  sum=sum+i
print(sum)

55

In [10]:
sum=0
for i in range(10,0,-1):
  sum=sum+i
print(sum)

55

In [12]:
print("Second Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(row, end=' ')
    print("")

Second Number Pattern
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [13]:
print("Second Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

Second Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [15]:
print("Second Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print("*", end=' ')
    print("")

Second Number Pattern
*
* *
* * *
* * * *
* * * * *

In [16]:
print("Second Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(2**row, end=' ')
    print("")

Second Number Pattern
2
4 4
8 8 8
16 16 16 16
32 32 32 32 32

In [17]:
print("Second Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(2**column, end=' ')
    print("")

Second Number Pattern
2
2 4
2 4 8
2 4 8 16
2 4 8 16 32

In [21]:
print("Second Number Pattern ")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end='  ')
    print("")

Second Number Pattern
1
1    2
1    2    3
1    2    3    4
1    2    3    4    5

In [29]:
no_of_enteries=int(input("How many number of enteries"))
i=no_of_enteries
f=[]
g=[]
while(no_of_enteries>0):
    x, y = input("Enter a first name &  last name: ").split() 
    f.append(x)
    g.append(y) 
    no_of_enteries=no_of_enteries-1
Z=0
big=max(f,key=len)
big2=max(g,key=len)
length=len(big+big2)
print('$'.rjust(length+7,'$'))
while(Z<i):
  print('$',f[Z],g[Z],'$'.rjust(((length+3)-(len(f[Z])+len(g[Z]))),' ')) 
  Z += 1
print('$'.rjust(length+7,'$'))

How many number of enteries4
Enter a first name &  last name: devesh meena
Enter a first name &  last name: vedant bhatt
Enter a first name &  last name: taanvi goyal
Enter a first name &  last name: devdegvdegvdeg vdgvegdv
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$ devesh meena              $
$ vedant bhatt              $
$ taanvi goyal              $
$ devdegvdegvdeg vdgvegdv   $
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$